.benefits{
    padding:73px 0 67px 0;
    min-height: 473px;
    background: #F6F6F6;
    &__wrapper{
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }
    &__item{
        width: 275px;
        text-align: center;
    }
    &__header{
        margin-top: 35px;
        font-weight: 700;
        font-size: 18px;
        color: #0D0D0D;
    }
    &__descr{
        margin-top: 22px;
        font-weight: 300;
        font-size: 14px;
        color: #0D0D0D;
        a {
            color: #FF0000;
        }
    }
    &__icon{
        &_animated{
            animation: heartbeat 1.5s ease infinite;
            animation-play-state: paused;
            &:hover{
                animation-play-state: running;
            }
        }
    }
}

@media (max-width: 767px){
    .benefits{
        &__wrapper{
            justify-content: flex-start;
            flex-direction: column;
            align-items: center;
        }
    }
}